.App {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.map {
  position: relative;
}

.grid div {
  border: 1px solid #ccc;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
  margin: 10px;
  padding: 8px;
  width: 200px;
}

button {
  padding: 10px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #45a049;
}

.grid-container div:hover {
  transform: scale(1.1); /* Powiększenie prostokąta */
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.8); /* Efekt poświaty */
  transition: all 0.3s ease; /* Płynna animacja przejścia */
}
